# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [1]:
import pandas as pd
import scipy.stats as st

# Load the data
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")

# Filter HP for Dragon and Grass types (using Type 1)
dragon_hp = df[df['Type 1'] == 'Dragon']['HP']
grass_hp = df[df['Type 1'] == 'Grass']['HP']

# Calculate basic statistics
print(f"Dragon HP mean: {dragon_hp.mean():.2f}")
print(f"Grass HP mean: {grass_hp.mean():.2f}")

# Perform Independent T-Test (One-Tailed)
# 'greater' means we are testing if dragon_hp is significantly higher than grass_hp
t_stat, p_value = st.ttest_ind(dragon_hp, grass_hp, equal_var=False, alternative='greater')

print(f"T-statistic: {t_stat:.4f}")
print(f"P-value: {p_value:.4f}")

# Conclusion logic
alpha = 0.05
if p_value < alpha:
    print("Conclusion: Reject the Null Hypothesis. Dragon Pokemons have significantly more HP than Grass Pokemons.")
else:
    print("Conclusion: Fail to reject the Null Hypothesis. There is no significant evidence that Dragon Pokemons have more HP.")

Dragon HP mean: 83.31
Grass HP mean: 67.27
T-statistic: 3.3350
P-value: 0.0008
Conclusion: Reject the Null Hypothesis. Dragon Pokemons have significantly more HP than Grass Pokemons.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [2]:
import pandas as pd
import scipy.stats as st

# Load the data
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")

# Define the stats to test
stats_list = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Split the data into two groups
legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

print(f"{'Stat':<10} | {'T-Statistic':<12} | {'P-Value':<10} | {'Result'}")
print("-" * 55)

for stat in stats_list:
    # Perform Welch's T-test (Independent, Two-tailed)
    t_stat, p_val = st.ttest_ind(legendary[stat], non_legendary[stat], equal_var=False)
    
    # Check significance
    status = "Reject H0" if p_val < 0.05 else "Fail to reject H0"
    
    print(f"{stat:<10} | {t_stat:<12.4f} | {p_val:<10.2e} | {status}")

Stat       | T-Statistic  | P-Value    | Result
-------------------------------------------------------
HP         | 8.9814       | 1.00e-13   | Reject H0
Attack     | 10.4381      | 2.52e-16   | Reject H0
Defense    | 7.6371       | 4.83e-11   | Reject H0
Sp. Atk    | 13.4174      | 1.55e-21   | Reject H0
Sp. Def    | 10.0157      | 2.29e-15   | Reject H0
Speed      | 11.4750      | 1.05e-18   | Reject H0

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [3]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Load the data
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")

# 1. Function for Euclidean Distance
def get_distance(lat1, lon1, lat2, lon2):
    return np.sqrt((lat1 - lat2)**2 + (lon1 - lon2)**2)

# 2. Calculate distances to School and Hospital
school_coords = (34, -118) # Lat, Lon
hospital_coords = (37, -122) # Lat, Lon

df['dist_school'] = get_distance(df['latitude'], df['longitude'], school_coords[0], school_coords[1])
df['dist_hospital'] = get_distance(df['latitude'], df['longitude'], hospital_coords[0], hospital_coords[1])

# 3. Define closeness (Close if distance to either is < 0.5)
df['is_close'] = (df['dist_school'] < 0.5) | (df['dist_hospital'] < 0.5)

# 4. Split Dataset
close_houses = df[df['is_close'] == True]['median_house_value']
far_houses = df[df['is_close'] == False]['median_house_value']

# 5. Perform the T-test
t_stat, p_val = st.ttest_ind(close_houses, far_houses, equal_var=False, alternative='greater')

print(f"Mean Value (Close): ${close_houses.mean():,.2f}")
print(f"Mean Value (Far):   ${far_houses.mean():,.2f}")
print(f"P-value: {p_val:.4f}")

if p_val < 0.05:
    print("Result: Reject H0 - Houses near landmarks are significantly more expensive.")
else:
    print("Result: Fail to reject H0 - No significant price difference found.")

Mean Value (Close): $246,951.98
Mean Value (Far):   $180,678.44
P-value: 0.0000
Result: Reject H0 - Houses near landmarks are significantly more expensive.